<a href="https://colab.research.google.com/github/JF11579/Plotly_RE/blob/main/Condos_Single_Devleopment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notes

Drill down into single developemtn.  Do some areasa sell for much more.

I wasnt a map

Anbd a scatter plot 1 bedroom v 2

see: [this](https://colab.research.google.com/drive/1zR4W4UYKLfImGK480izAIk-AhBW1r1f0)



Notes https://jf11579.github.io/Plotly_RE/condo_sold_prices code in colab.

use that code to convert the graph to a html file and download it

then find that just downloaded file , REVISE NAME, and move it to my Plotly_RE folder

Git Hub will detect the new file

Add a comment, COMMITm, push

Now it is in my GH repo unde r5he PLOTLY RE

# Libraries

In [1]:
!pip install geopandas
!pip install geopy

Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [87]:
import pandas as pd
from google.colab import drive
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [3]:
from geopy.geocoders import Nominatim
import pandas as pd

# Create a GeoPy geocoder
geolocator = Nominatim(user_agent="my_app")

In [4]:
import plotly.express as px

# Options

In [5]:
# Set pandas display options to show more rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Data

In [16]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Change to the directory containing your CSV
%cd /content/drive/MyDrive/DATA/Real_Estate_Data
#

condo = pd.read_csv('Manorville_Greenwood_2023.csv')
#
condo.head(3)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/DATA/Real_Estate_Data

,Air Conditioning,Acres,Property Description,Address,Agency,Also For Rent,Interior Features,Apt#,Attic Description,Auxiliary Rooms,Baths Full,Baths Half,Buyer Agency Compensation,Waterfront Features,Building,Building Permit,Block,Listing Broker Phone #,Bedrooms,Branch,Modifications Exclusions,Basement Description,Room Level,Bath,Business Age,Business Type,Utilities Included,Included,Cash Down,Contract Cancel Effective Date,Contract Date,Under Steel,Available Utilities,Class Description,Co-Listing Agent,Co-Listing Agent2,Broker Code,Common Charges,Commission Oblig Date,Compensation Paid By,Compass Points,Appearance,W/R Conditions,Construction Description,Lot Description,County,Contract Price,Cross Street,Location Features,DBA,Exterior Features,Deductible %,Income Desc 1,Income Desc 2,Income Desc 3,Income Desc 4,Income Desc 5,Income Desc 6,Income Desc 7,Income Desc 8,Detached/Attached,Development,District,Days On Market,Driveway,Fees,Finance Restrictions,Final Mortgage,Fixtures & Equipment,Floor Load,REO,# Fireplaces,Frontage Feet,Feet From Corner,Heating Fuel,Parking,LandLord Pays,Gross Profit %,Building Features,Heating Type,Hilp$,Inc 1 $,Inc 2 $,Inc 3 $,Inc 4 $,Inc 5 $,Inc 6 $,Inc 7 $,Inc 8 $,Inventory Included,Insurance,Distribute To Internet Portals,Inventory,Listing Date,Lease,Topography,Listing Agent,Number of Docks,Lockbox,Lolp$,Lot,Lot Square Footage,Lot Size,Listing Price,Last Status Change,Lease Years,Last Update Date,Maintenance,Maintenance/Repairs Expense,Minimum Plot Size,Miscellaneous Expense,ML#,Model Name,Moved From,Mortgage Type,Negotiate Direct,Net Income,New Construction,# Families,# Floors In Building,# Floors In Unit,# Kitchens,# Plots,# Units,# Heating Zones,Occupancy,Office %,Broker Open House Description,Broker Open Houses,Lease Conditions,Original Price,Other Fees,Out of Area Town,Owner,Owner Financing,Parking Charges,Parking Facilities,Parking Spaces,Parking Spaces At Building,Payroll Expense,% Difference,Permit,Personal Property Exclusion,Pets Allowed,Status/Showing Phone,Planning Board Approved,Pool Description,Possible Subdivision,Price Range Listing,Property Type,Proposed Title Date,Purchaser,Renting Broker Branch,Renting Broker Code,Renting Broker Compensation,Rented Date,Road Surface,Remarks,Rent Expense,Renting Agent,Rent Income,Rent Per Square Foot,Rental Type,Relist Obligation Date,Listing Broker,Rooms,Rented Price,Renting Broker,Sale or Rent,Selling Broker Branch,Selling Broker Code,Seller Agency Compensation,School District Name,School District #,Seats,Section,Section/Area,Security Deposit,Selling Agent,Separate Hotwater Heater,Show Instructions,Sold Price,Approx Int Square Footage,Selling Broker,Street Name,Street Direction,Street Number,Street Suffix,Status,State,Stories,Style,Supercedes ML#,Taxes,Taxes W/Star Exemption,Title Date,TOM,Terms,TOM Start Date,TOM End Date,Total Expenses,Total Income,Town,Type Ownership,Type Sale,Unit #,Unit on Floor #,Vacancy %,Development Status,Village Taxes,Water Frontage,Water Description,Wooded/Cleared,Withdrawn/Release Date,Exp Date,Year Built,Zip,Zone,Zoning,Unnamed: 219,Unnamed: 220
0,Window Units,NaN,Located in the highly desired Greenwood Villag...,98 Village Circle W,Excl Right,N,"1st Fl Master Bedroom,1st Floor Bedrm,Eat in K...",NaN,"Full,Scuttle",NaN,2,0,2,NaN,NaN,NaN,1001.0,631-567-0100,2,21,None,"Full,Unfinished",1,2.0,NaN,NaN,"Sewer,Water",NaN,NaN,NaN,NaN,NaN,NaN,Condo,NaN,NaN,SPH,1351.0,NaN,NaN,NaN,Excellent,NaN,"Frame,Modular",NaN,S,NaN,Chapman Blvd,Close to Shops,NaN,"Gated Community,In Ground Pool,Tennis",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Det,Greenwood Village,200.0,NaN,NaN,30.0,CASH ONLY,NaN,NaN,NaN,N,1.0,NaN,NaN,Electric,1 Car Attached,NaN,NaN,NaN,Electric,179999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/14/2023,NaN,NaN,Antonio Sgambati,NaN,Y,179999,131.0,3338.0,NaN,179999,NEW,NaN,7/14/2023,NaN,NaN,NaN,NaN,*1422236,Ranch,NaN,NaN,N,NaN,N,NaN,1.0,1,NaN,NaN,NaN,NaN,OT,NaN,NaN,NaN,NaN,179999,NaN,NaN,Thiele,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"All Dogs,Call Listing Agent,Cats",631-417-5565,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CASH ONLY - Sale may be subject to term & cond...,NaN,NaN,NaN,NaN,NaN,NaN,Signature Premier Properties,6.0,NaN,NaN,NaN,NaN,NaN,0,Eastport-South Manor,NaN,NaN,67710,NaN,NaN,NaN,NaN,ShowingTime,NaN,1110,NaN,Village,NaN,98,Circle,A,NY,NaN,Other,NaN,2069.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manorville,Condo,NaN,98,1,NaN,NaN,NaN,NaN,Community,NaN,NaN,1/14/2024,1983,11949,25,NaN,NaN,NaN
1,Wall Units,NaN,A brand-new pergola and porch greet you at the...,17 Limetree Drive,Excl Right,N,"1st Fl Master Bedroom,Eat in Kitchen,Lr/Dr,Mas...",NaN,None,NaN,2,0,2,NaN,NaN,NaN,1001.0,631-474-2000,2,3,None,None,"1,1",2.0,NaN,NaN,NaN,"A/C Units,Dishwasher,Dryer,Mailbox,Microwave,O...",NaN,NaN,1/26/2022,NaN,NaN,Condo,Marianna Tsakonas,NaN,H&G,1222.0,NaN,NaN,NaN,Diamond,NaN,Manufactured,NaN,S,175000.0,Greenwood,"Close to Bus,Close to Park,Close to Railroad,C...",NaN,"Gated Community,In Ground Pool,Tennis",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Det,Greenwood Village,200.0,22.0,NaN,NaN,All Cash 10% down,NaN,NaN,NaN,N,NaN,NaN,NaN,Electric,"1 Car Attached,Driveway",NaN,NaN,NaN,Electric,175000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/04/2022,NaN,NaN,Geri M Monzillo,NaN,NaN,175000,3.0,4202.0,NaN,175000,CL,NaN,2/17/2022,NaN,NaN,NaN,NaN,3367480,Ranch,Manorville,Cash,N,NaN,N,NaN,1.0,1,NaN,NaN,NaN,NaN,O.T.,NaN,NaN,NaN,NaN,175000,NaN,NaN,Vaughan,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Call Listing Agent,631-474-2000,NaN,NaN,NaN,N,NaN,NaN,Roux/Rothman,NaN,NaN,NaN,NaN,NaN,CASH ONLY! Subject to board approval. Sale may...,NaN,NaN,NaN,NaN,NaN,NaN,H & G Realty New York,5.0,NaN,NaN,NaN,2.0,KPNK,0,Eastport-South Manor,NaN,NaN,67710,NaN,NaN,Debra R Linsalata,NaN,by appointment,175000.0,NaN,Your Team D&G Realty Ltd,Limetree,NaN,17,Drive,U,NY,NaN,Garden Apartment,NaN,3723.83,NaN,2/17/2022,NaN,NaN,NaN,NaN,NaN,NaN,Manorville,Homeowner Assoc,NaN,17,1,NaN,NaN,NaN,NaN,Municipal,NaN,NaN,7/04/2022,1982,11949,25,NaN,NaN,NaN
2,Wall Units,NaN,Location Location Location this home has a be...,14 Limetree Drive,Excl Right,N,"1st Fl Master Bedroom,Eat in Kitchen,Lr/Dr,Mas...",NaN,None,NaN,2,0,2,Lake/Pond/Stream,NaN,NaN,1001.0,631-697-4699,2,1,None,Crawl,"1,1,1,1,1",2.0,NaN,NaN,NaN,"Dryer,Mailbox,Oven/Range,Refrigerator,Shades/B...",NaN,NaN,2/26/2022,NaN,NaN,Condo,NaN,NaN,WHTE,1269.0,NaN,NaN,NaN,Mint,NaN,Modular,NaN,S,184550.0,Greenwood Blvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Det,Greenwood Village,200.0,50.0,NaN,NaN,Cash Only,NaN,NaN,NaN,N,NaN,NaN,NaN,Electric,1 Car Attached,NaN,NaN,NaN,Electric,184550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/07/2022,NaN,NaN,Jessica L Harris-Iannuzzi,NaN,NaN,184550,32.0,4160.0,NaN,184550,CL,NaN,3/15/2022,NaN,NaN,NaN,NaN,3368117,-,Center Moriches,Cash,N,NaN,N,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184550,NaN,NaN,Nigel,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,"All Dogs,Cats,Restricted Weight",631-697-4699,NaN,NaN,NaN,N,NaN,2/21/2022,Garcia,NaN,NaN,NaN,NaN,NaN,Sale may be subject to term & conditions of an...,NaN,NaN,NaN,NaN,NaN,NaN,White Mountain Rlty & Property,4.0,NaN,NaN,NaN,1.0,EXIS,2,Eastport-South Manor,NaN,NaN,67710,NaN,NaN,John Ciervo,NaN,Call LB or Karen 631-345-3079,184550.0,NaN,Exit Realty Island Elite,Limetree,NaN,14,Drive,U,NY,NaN,Other,NaN,2968,NaN,3/14/2022,NaN,NaN,NaN,NaN,NaN,NaN,Manorville,Condo,NaN,14,1,NaN,NaN,NaN,NaN,Community,NaN,NaN,4/07/2022,1992,11949,25,NaN,NaN,NaN

# Revise col Names

In [17]:
condo.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [18]:
# Lets select some of the columns



condo = condo[['Address', 'Town','Zip','State','Style','Street_Name' ,
                     'Development','ML#','Sold_Price','Baths_Full', 'Baths_Half',
                   'Room_Level','Bath','Bedrooms','Utilities_Included', 'Common_Charges',
                     'Appearance','REO','Unit_on_Floor_#','Appearance']]

In [19]:
condo.shape

(92, 20)

## Remove dupe ML#s

In [20]:
condo = condo.drop_duplicates(subset=['ML#'], keep='first')

In [11]:
condo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             92 non-null     object
 1   Town                78 non-null     object
 2   Zip                 91 non-null     object
 3   State               92 non-null     object
 4   Style               92 non-null     object
 5   Street_Name         89 non-null     object
 6   Development         92 non-null     object
 7   ML#                 92 non-null     object
 8   Sold_Price          36 non-null     float64
 9   Baths_Full          92 non-null     int64
 10  Baths_Half          92 non-null     int64
 11  Room_Level          92 non-null     object
 12  Bath                92 non-null     float64
 13  Bedrooms            92 non-null     int64
 14  Utilities_Included  68 non-null     object
 15  Common_Charges      76 non-null     float64
 16  Appearance          72 non-null     object
 17  REO                 92 non-null     object
 18  Unit_on_Floor_#     78 non-null     object
 19  Appearance          72 non-null     object
dtypes: float64(3), int64(3), object(14)
memory usage: 15.1+ KB

In [12]:
# convert SoldPRice to a number
# condos['Sold_Price'] = pd.to_numeric(condos['Sold_Price'], errors='coerce')

# Geocode

### To geocode I need to contaneate address cols first

In [21]:
# Add a new column 'country' and fill it with 'USA'
condo['country'] = 'USA'

In [22]:
# concatenate the cols

condo['full_address'] = condo['Address'] + ', ' + condo['Town'] + '  '+ condo['country']  # + ', ' + condos['State']
condo.head(3)

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address
0,98 Village Circle W,Manorville,11949,NY,Other,Village,Greenwood Village,*1422236,NaN,2,0,1,2.0,2,"Sewer,Water",1351.0,Excellent,N,1,Excellent,USA,"98 Village Circle W, Manorville USA"
1,17 Limetree Drive,Manorville,11949,NY,Garden Apartment,Limetree,Greenwood Village,3367480,175000.0,2,0,"1,1",2.0,2,NaN,1222.0,Diamond,N,1,Diamond,USA,"17 Limetree Drive, Manorville USA"
2,14 Limetree Drive,Manorville,11949,NY,Other,Limetree,Greenwood Village,3368117,184550.0,2,0,"1,1,1,1,1",2.0,2,NaN,1269.0,Mint,N,1,Mint,USA,"14 Limetree Drive, Manorville USA"

## the geo coding

In [23]:
from geopy.exc import GeocoderTimedOut

# ... (previous code)
from geopy.geocoders import Nominatim
import pandas as pd

# Create a GeoPy geocoder
geolocator = Nominatim(user_agent="my_app")



df = condo

# Add columns for longitude and latitude
df["latitude"] = ""
df["longitude"] = ""

# Loop through the dataframe and get the long and lat for each address
for index, row in df.iterrows():
    try:
        location = geolocator.geocode(row["full_address"])
        df.loc[index, "latitude"] = location.latitude
        df.loc[index, "longitude"] = location.longitude
    except:
        df.loc[index, "latitude"] = None
        df.loc[index, "longitude"] = None

# Print the dataframe
print(df)

#

# Loop through the dataframe and get the long and lat for each address
for index, row in df.iterrows():
    try:
        location = geolocator.geocode(row["full_address"])
        df.loc[index, "latitude"] = location.latitude
        df.loc[index, "longitude"] = location.longitude
    except GeocoderTimedOut:
        print(f"Geocoding for address {row['full_address']} timed out.")
        df.loc[index, "latitude"] = None
        df.loc[index, "longitude"] = None

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=21+Village+Circle%2C+6%2F30%2F2023++USA&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=21+Village+Circle%2C+6%2F30%2F2023++USA&format=json&limit=1

                   Address        Town         Zip   State             Style  \
0      98 Village Circle W  Manorville       11949      NY             Other
1        17 Limetree Drive  Manorville       11949      NY  Garden Apartment
2        14 Limetree Drive  Manorville       11949      NY             Other
3     189 W Village Circle         NaN   7/18/2022  Circle                NY
4                15 Willow  Manorville       11949      NY             Other
5     426 N Village Circle         NaN   8/27/2022  Circle                NY
6    5176 Village Circle E  Manorville       11949      NY             Other
7    5151 Village Circle E  Manorville       11949      NY             Other
8     416 Village Circle N  Manorville       11949      NY             Other
9      93 W Village Circle         NaN   3/13/2023  Circle                NY
10     5156 Village Circle  Manorville       11949      NY             Other
11  38 Greenwood Boulevard  Manorville       11949      NY             Other
12      408 Village Circle  Manorville       11949      NY             Other
13     91 W Village Circle  Manorville       11949      NY             Other
14    126 Village Circle W         NaN   9/25/2022  Circle                NY
15       95 Village Circle  Manorville       11949      NY             Other
16     12 Village Circle E  Manorville       11949      NY             Other
17      187 Village Circle  Manorville       11949      NY             Other
18          10 Holly Drive  Manorville       11949      NY             Other
19   5145 Village Circle E         NaN  11/04/2022  Circle                NY
20     5101 Village Circle  Manorville       11949      NY             Other
21   5144 Village Circle E         NaN  11/12/2022  Circle                NY
22    109 Village Circle W         NaN  11/28/2022  Circle                NY
23         42 Willow Court  Manorville       11949      NY             Other
24           3 Holly Drive  Manorville       11949      NY             Other
25   5134 Village Circle E  Manorville       11949      NY             Other
26  20 Greenwood Boulevard  Manorville       11949      NY             Other
27   5129 Village Circle E  Manorville       11949      NY             Other
28         66 Dogwood Lane         NaN   1/23/2023    Lane                NY
29  15 Greenwood Boulevard  Manorville       11949      NY             Other
30     39 Village Circle S         NaN   2/04/2023  Circle                NY
31  14 Greenwood Boulevard  Manorville       11949      NY             Other
32       21 Village Circle  Manorville       11949      NY             Other
33     5102 Village Circle  Manorville       11949      NY             Other
34     59 Village Circle W  Manorville       11949      NY             Other
35      185 Village Circle  Manorville       11949      NY             Other
36     37 Village Circle S  Manorville       11949      NY             Other
37          6 Willow Court  Manorville       11949      NY             Other
38      140 Village Circle  Manorville       11949      NY             Other
39         11 Dogwood Lane  Manorville       11949      NY             Other
40     41 E Village Circle  Manorville       11949      NY             Other
41    147 Village Circle W  Manorville       11949      NY             Other
42         78 Dogwood Lane  Manorville       11949      NY             Other
43         19 Willow Court  Manorville       11949      NY             Other
44       24 Limetree Drive  Manorville       11949      NY             Other
45         81 Dogwood Lane  Manorville       11949      NY             Other
46       21 Village Circle   6/30/2023         NaN      21                 U
47  15 Greenwood Boulevard  Manorville       11949      NY             Other
48         38 Willow Court  Manorville       11949      NY             Other
49         13 Willow Court  Manorville       11949      NY             Other
50    171 Village Circle W  Manorville       11949      NY             Other
51    105 W Village Circle         NaN   8/10/2023  Circle                NY
52    414 N Village Circle         NaN   8/11/2023  Circle                NY
53    138 Village Circle W  Manorville       11949      NY             Other
54    426 N Village Circle  Manorville       11949      NY             Other
55       55 Village Circle  Manorville       11949      NY             Other
56    123 W Village Circle  Manorville       11949      NY             Other
57      127 Village Circle  Manorville       11949      NY             Other
58               12 Willow  Manorville       11949      NY             Other
59         21 Dogwood Lane  Manorville       11949      NY             Other
60   5113 E Village Circle         NaN  10/10/2023  Circle                NY
61    141 W Village Circle  Manorville       11949      NY             Other
62         20 Dogwood Lane  Manorville       11949      NY             Other
63    173 W Village Circle  Manorville       11949      NY             Other
64   5108 E Village Circle         NaN  10/21/2023  Circle                NY
65         16 Dogwood Lane  Manorville       11949      NY             Other
66      171 Village Circle  Manorville       11949      NY             Other
67     5151 Village Circle  Manorville       11949      NY             Other
68       51 Village Circle  Manorville       11949      NY             Other
69          2 Willow Court  Manorville       11949      NY             Other
70      65A Village Circle  Manorville       11949      NY             Other
71      173 Village Circle  Manorville       11949      NY             Other
72    185 W Village Circle  Manorville       11949      NY             Other
73   5153 E Village Circle  Manorville       11949      NY             Other
74         69 Dogwood Lane  Manorville       11949      NY             Other
75          5 Dogwood Lane  Manorville       11949      NY             Other
76  42 Greenwood Boulevard  Manorville       11949      NY             Other
77      148 Village Circle  Manorville       11949      NY             Other
78     5121 Village Circle  Manorville       11949      NY             Other
79    127 W Village Circle  Manorville       11949      NY             Other
80     5156 Village Circle  Manorville       11949      NY             Other
81      140 Village Circle  Manorville       11949      NY             Other
82       21 Limetree Drive  Manorville       11949      NY         Townhouse
83        1 Limetree Drive  Manorville       11949      NY             Other
84     39 S Village Circle         NaN  12/18/2022  Circle                NY
85      127 Village Circle  Manorville       11949      NY             Other
86         16 Dogwood Lane  Manorville       11949      NY             Other
87      123 Village Circle  Manorville       11949      NY             Other
88     12 E Village Circle  Manorville       11949      NY             Other
89      163 Village Circle  Manorville       11949      NY             Other
90       46 Village Circle  Manorville       11949      NY             Other
91       46 Village Circle  Manorville       11949      NY             Other

         Street_Name             Development       ML#  Sold_Price  \
0            Village       Greenwood Village  *1422236         NaN
1           Limetree       Greenwood Village   3367480    175000.0
2           Limetree       Greenwood Village   3368117    184550.0
3                825       Greenwood Village   3370282         NaN
4             Willow       Greenwood Village   3377212    115000.0
5               1123       Greenwood Village   3379198         NaN
6   Village Circle E       Greenwood Village   3380259    175000.0
7            Village       Greenwood Village   3380717    185000.0
8            Village           Green Village   3382760    195000.0
9                938       Greenwood Village   3382804         NaN
10           Village       Greenwood Village   3383251    190000.0
11         Greenwood       Greenwood Village   3383554     60000.0
12           Village       Greenwood Village   3384933    210000.0
13           Village       Greenwood Village   3385814    145000.0
14              1100       Greenwood Village   3386124         NaN
15           Village       Greenwood Village   3387845    145000.0
16           Village       Greenwood Village   3390166     95000.0
17           Village       Greenwood Village   3393585    105000.0
18             Holly       Greenwood Village   3394127    189900.0
19              1150       Greenwood Village   3396543         NaN
20           Village               Greenwood   3397552    200000.0
21               925       Greenwood Village   3399238         NaN
22               938       Greenwood Village   3403385         NaN
23            Willow       Greenwood Village   3407664    230000.0
24             Holly       Greenwood Village   3408283         NaN
25           Village       Greenwood Village   3415876    193500.0
26         Greenwood       Greenwood Village   3416732    115000.0
27           Village       Greenwood Village   3416887     80000.0
28              1300       Greenwood Village   3418472         NaN
29         Greenwood       Greenwood Village   3420681         NaN
30               NaN       Greenwood Village   3421131         NaN
31         Greenwood       Greenwood Village   3422023    111500.0
32           Village       Greenwood Village   3424724         NaN
33           Village       Greenwood Village   3424895         NaN
34           Village       Greenwood Village   3426749    183000.0
35           Village       Greenwood Village   3426932    105000.0
36           Village       Greenwood Village   3431782         NaN
37      Willow Court       Greenwood Village   3435296    218000.0
38           Village       Greenwood Village   3435337     90000.0
39           Dogwood       Greenwood Village   3436128     80750.0
40           Village       Greenwood Village   3436532    218000.0
41           Village       Greenwood Village   3438334    165000.0
42           Dogwood       Greenwood Village   3439789         NaN
43            Willow       Greenwood Village   3440597    167500.0
44          Limetree        Greenwood Villag   3449247         NaN
45           Dogwood       Greenwood Village   3449287         NaN
46               NaN       Greenwood Village   3450588         NaN
47         Greenwood       Greenwood Village   3452563         NaN
48            Willow       Greenwood Village   3454192    190000.0
49            Willow       Greenwood Village   3455303    190000.0
50           Village       Greenwood Village   3456990         NaN
51              1130       Greenwood Village   3457885         NaN
52               NaN       Greenwood Village   3458146         NaN
53           Village       Greenwood Village   3459113    235000.0
54           Village       Greenwood Village   3459745    225000.0
55           Village       Greenwood Village   3464553         NaN
56           Village       Greenwood Village   3467227    184500.0
57           Village       Greenwood Village   3467606         NaN
58            Willow       Greenwood Village   3468704    185000.0
59           Dogwood       Greenwood Village   3469192         NaN
60              1000       Greenwood Village   3470309         NaN
61           Village       Greenwood Village   3470709         NaN
62           Dogwood       Greenwood Village   3471621         NaN
63           Village       Greenwood Village   3472405         NaN
64              1291       Greenwood Village   3473019         NaN
65           Dogwood       Greenwood Village   3476841    122500.0
66           Village       Greenwood Village   3479687         NaN
67           Village       Greenwood Village   3482121    226000.0
68           Village       Greenwood Village   3487196         NaN
69            Willow       Greenwood Village   3487468         NaN
70           Village       Greenwood Village   3487486         NaN
71           Village       Greenwood Village   3487612         NaN
72           Village       Greenwood Village   3488891         NaN
73           Village       Greenwood Village   3488914         NaN
74           Dogwood       Greenwood Village   3493550         NaN
75           Dogwood       Greenwood Village   3493639         NaN
76         Greenwood       Greenwood Village   3494116         NaN
77           Village       Greenwood Village   3496228         NaN
78           Village       Greenwood Village   3498156         NaN
79           Village       Greenwood Village   3499127         NaN
80           Village       Greenwood Village   3382120         NaN
81           Village       Greenwood Village   3369248         NaN
82          Limetree  Greenwood Village, 55+   3398243         NaN
83          Limetree       Greenwood Village   3398306         NaN
84              1056       Greenwood Village   3409350         NaN
85           Village       Greenwood Village   3417022         NaN
86           Dogwood       Greenwood Village   3418115         NaN
87           Village       Greenwood Village   3421680         NaN
88           Village       Greenwood Village   3422184         NaN
89           Village       Greenwood Village   3424084         NaN
90           Village       Greenwood Village   3446961         NaN
91           Village       Greenwood Village   3451582         NaN

    Baths_Full  Baths_Half                              Room_Level  Bath  \
0            2           0                                       1   2.0
1            2           0                                     1,1   2.0
2            2           0                               1,1,1,1,1   2.0
3            1           0                                       1   1.0
4            2           0                                       1   2.0
5            2           0                                       1   2.0
6            2           0                                       1   2.0
7            2           0                             1,1,1,1,1,1   2.0
8            2           0                               1,1,1,1,1   2.0
9            2           0                                       1   2.0
10           2           0                                       1   2.0
11           1           0                                       1   1.0
12           1           1                              1,Basement   1.5
13           2           0                           1,1,1,1,1,1,1   2.0
14           2           0                                       1   2.0
15           1           0                             1,1,1,1,1,1   1.0
16           2           0                         1,1,1,1,1,1,1,1   2.0
17           1           0                               1,1,1,1,1   1.0
18           2           0                       1,1,1,1,1,1,1,1,1   2.0
19           2           0                              1,Basement   2.0
20           2           0                         1,1,1,1,1,1,1,1   2.0
21           2           0                                       1   2.0
22           1           0                                       1   1.0
23           2           0                       1,1,1,1,1,1,Other   2.0
24           2           0                                       1   2.0
25           2           0  1,1,1,1,1,1,Basement,Other,Other,Other   2.0
26           1           0                               1,1,1,1,1   1.0
27           1           0                                   1,1,1   1.0
28           2           0                                       1   2.0
29           2           0                                       1   2.0
30           1           1                                       1   1.5
31           1           0                             1,1,1,1,1,1   1.0
32           2           0                              1,Basement   2.0
33           2           0                               1,1,1,1,1   2.0
34           2           0                                       1   2.0
35           2           0                                       1   2.0
36           2           0                               1,1,1,1,1   2.0
37           2           0                                   1,1,1   2.0
38           2           0                                       1   2.0
39           1           1                                       1   1.5
40           2           0                                       1   2.0
41           2           0                                       1   2.0
42           2           0                    Basement,1,1,1,1,1,1   2.0
43           2           0                                       1   2.0
44           2           0                                       1   2.0
45           2           0                             1,1,1,1,1,1   2.0
46           2           0                              1,Basement   2.0
47           2           0                                       1   2.0
48           2           0                      1,1,1,1,1,Basement   2.0
49           2           0                                       1   2.0
50           2           0                             1,1,1,1,1,1   2.0
51           2           0                                       1   2.0
52           2           0                                       1   2.0
53           2           0                             1,1,1,1,1,1   2.0
54           2           0                             1,1,1,1,1,1   2.0
55           2           0                                       1   2.0
56           2           0                                       1   2.0
57           2           0                     1,1,1,1,1,1,1,1,1,1   2.0
58           2           0                                       1   2.0
59           2           0                                       1   2.0
60           1           1                                       1   1.5
61           1           0                                       1   1.0
62           2           0                               1,1,1,1,1   2.0
63           2           0                             1,1,1,1,1,1   2.0
64           2           0                                       1   2.0
65           2           0                                       1   2.0
66           2           0                             1,1,1,1,1,1   2.0
67           2           0                               1,1,1,1,1   2.0
68           2           0                           1,1,1,1,1,1,1   2.0
69           1           1                             1,1,1,1,1,1   1.5
70           1           0                               1,1,1,1,1   1.0
71           2           0                                       1   2.0
72           2           0                           1,1,1,1,1,1,1   2.0
73           2           0                  Basement,1,1,1,1,1,1,1   2.0
74           2           0                           1,1,1,1,1,1,1   2.0
75           2           0                             1,1,1,1,1,1   2.0
76           1           0                             1,1,1,1,1,1   1.0
77           1           0                                 1,1,1,1   1.0
78           2           1                              1,Basement   2.5
79           2           0                         1,1,1,1,1,1,1,1   2.0
80           2           0                                       1   2.0
81           2           0                                       1   2.0
82           2           0                                       1   2.0
83           2           0                                       1   2.0
84           1           1                                       1   1.5
85           2           0                           1,1,1,1,1,1,1   2.0
86           2           0                                       1   2.0
87           2           0                                       1   2.0
88           2           0                                     1,1   2.0

AttributeError: ignored

In [25]:
condos = df

## How many rows came back w/o geocoding?

In [26]:
missing_coordinates_count = condos[condos['latitude'].isna() | df['longitude'].isna()].shape[0]

print(f"Number of rows with missing coordinates: {missing_coordinates_count}")

Number of rows with missing coordinates: 38

In [27]:
# Create a boolean mask for rows with None or NaN in the 'latitude' column
mask = condo['latitude'].isnull()

# Use the boolean mask to filter the DataFrame and get the rows with None or NaN in 'latitude'
rows_with_missing_latitude = condo[mask]

In [28]:
# Number of rows with missing coordinates: 38


rows_with_missing_latitude.head(3)

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address,latitude,longitude
4,15 Willow,Manorville,11949,NY,Other,Willow,Greenwood Village,3377212,115000.0,2,0,1,2.0,2,"Garbage Removal,Ground Care,Pool Care,Sewer,Water",NaN,NaN,Y,1,NaN,USA,"15 Willow, Manorville USA",None,None
10,5156 Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3383251,190000.0,2,0,1,2.0,2,"Cable,Garbage Removal,Gas,Ground Care,Hot Wate...",1248.0,Mint+,N,1,Mint+,USA,"5156 Village Circle, Manorville USA",None,None
12,408 Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3384933,210000.0,1,1,"1,Basement",1.5,2,"Garbage Removal,Pool Care,Water",NaN,Excellent,N,1,Excellent,USA,"408 Village Circle, Manorville USA",None,None

## Drop Rows missing Lat-Long

In [29]:
condo.shape

(92, 24)

In [30]:
condo_cleaned =  condo.dropna(subset=['latitude', 'longitude'])

In [31]:
condo.shape

(92, 24)

# Mapped

In [32]:
import pandas as pd
import plotly.graph_objects as go

# Assuming you have a DataFrame named 'condo_cleaned'
data = condo_cleaned

# Define a color scale for the Sold_Price values
color_scale = [
    [0, 'blue'],    # Lowest Sold_Price, represented as blue
    [1, 'red']      # Highest Sold_Price, represented as red
]

fig = go.Figure()

# Customize the text to display multiple columns on hover
hover_text = data[["Development", "Sold_Price", "Town"]]  # Add more columns as needed

# Add the scatter plot layer using scattermapbox
fig.add_trace(
    go.Scattermapbox(
        lon=data["longitude"],
        lat=data["latitude"],
        text=hover_text.apply(lambda row: f"Development: {row[0]}<br>Sold Price: ${row[1]:,.2f}<br>Town: {row[2]}", axis=1),
        mode="markers",
        marker=dict(
            size=5,
            color=data["Sold_Price"],  # Assign Sold_Price values to color
            colorscale=color_scale,
            cmin=data["Sold_Price"].min(),
            cmax=data["Sold_Price"].max(),
            colorbar=dict(title="Sold Price")
        ),
    )
)

# Set the map's layout using Mapbox
fig.update_layout(
    mapbox=dict(
        style="stamen-terrain",  # You can choose a different map style
        center=dict(lon=-73.2640, lat=40.7891),  # Coordinates for Long Island, NY
        zoom=9,  # Adjust the zoom level as needed
    )
)

fig.show()

In [33]:
import pandas as pd
import plotly.graph_objects as go

# Assuming you have a DataFrame named 'condo_cleaned'
data = condo_cleaned

# Define a color scale for the Sold_Price values
color_scale = [
    [0, 'blue'],    # Lowest Sold_Price, represented as blue
    [1, 'red']      # Highest Sold_Price, represented as red
]

fig = go.Figure()

# Customize the text to display multiple columns on hover
hover_text = data[["Development", "Sold_Price", "Town"]]  # Add more columns as needed

# Add the scatter plot layer using scattermapbox
fig.add_trace(
    go.Scattermapbox(
        lon=data["longitude"],
        lat=data["latitude"],
        text=hover_text.apply(lambda row: f"Development: {row[0]}<br>Sold Price: ${row[1]:,.2f}<br>Town: {row[2]}", axis=1),
        mode="markers",
        marker=dict(
            size=5,
            color=data["Sold_Price"],  # Assign Sold_Price values to color
            colorscale=color_scale,
            cmin=data["Sold_Price"].min(),
            cmax=data["Sold_Price"].max(),
            colorbar=dict(title="Sold Price")
        ),
    )
)

# Set the map's layout using Mapbox
fig.update_layout(
    mapbox=dict(
        style="stamen-terrain",  # You can choose a different map style
        center=dict(lon=-72.79, lat=40.835),  # Coordinates for Long Island, NY
        zoom=14,  # Adjust the zoom level as needed
    )
)

fig.show()

# Lets check correlationa nd maybe model the data

In [61]:


# Assuming you have a DataFrame named 'condo_cleaned'
data = condo

# Define a custom mapping function
def map_existing_values(value):
    if value == "Basement":
        return 0
    elif value == "1":
        return 1
    elif value == "2":
        return 2
    elif value == "Other":
        return 3
    else:
        return 4  # Return None for other cases

# Create a new column based on the existing column
data["Which_Floor"] = data["Room_Level"].apply(map_existing_values)
#
# Convert the new column to categorical data type
data["Which_Floor"] = data["Room_Level"].astype("category")

# Print the updated DataFrame
#print(data)
data.head(3)

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address,latitude,longitude,Which_Floor
0,98 Village Circle W,Manorville,11949,NY,Other,Village,Greenwood Village,*1422236,NaN,2,0,1,2.0,2,"Sewer,Water",1351.0,Excellent,N,1,Excellent,USA,"98 Village Circle W, Manorville USA",40.833369,-72.792126,1
1,17 Limetree Drive,Manorville,11949,NY,Garden Apartment,Limetree,Greenwood Village,3367480,175000.0,2,0,"1,1",2.0,2,NaN,1222.0,Diamond,N,1,Diamond,USA,"17 Limetree Drive, Manorville USA",40.832498,-72.789898,"1,1"
2,14 Limetree Drive,Manorville,11949,NY,Other,Limetree,Greenwood Village,3368117,184550.0,2,0,"1,1,1,1,1",2.0,2,NaN,1269.0,Mint,N,1,Mint,USA,"14 Limetree Drive, Manorville USA",40.832859,-72.790438,"1,1,1,1,1"

In [62]:
data["Which_Floor"] = data["Which_Floor"].str.split(",").str.get(0)

In [63]:
data.tail(5)

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address,latitude,longitude,Which_Floor
87,123 Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3421680,NaN,2,0,1,2.0,2,"Garbage Removal,Ground Care,Pool Care,Sewer,Water",1374.00,Mint +++,N,1,Mint +++,USA,"123 Village Circle, Manorville USA",None,None,1
88,12 E Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3422184,NaN,2,0,"1,1",2.0,2,"Sewer,Water",NaN,Mint,N,1,Mint,USA,"12 E Village Circle, Manorville USA",None,None,1
89,163 Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3424084,NaN,2,0,1,2.0,2,NaN,NaN,NaN,N,1,NaN,USA,"163 Village Circle, Manorville USA",None,None,1
90,46 Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3446961,NaN,1,1,1,1.5,2,NaN,887.41,NaN,N,1,NaN,USA,"46 Village Circle, Manorville USA",None,None,1
91,46 Village Circle,Manorville,11949,NY,Other,Village,Greenwood Village,3451582,NaN,1,1,1,1.5,2,NaN,887.41,NaN,Y,1,NaN,USA,"46 Village Circle, Manorville USA",None,None,1

In [64]:
condo = data

In [65]:
condo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             92 non-null     object
 1   Town                78 non-null     object
 2   Zip                 91 non-null     object
 3   State               92 non-null     object
 4   Style               92 non-null     object
 5   Street_Name         89 non-null     object
 6   Development         92 non-null     object
 7   ML#                 92 non-null     object
 8   Sold_Price          36 non-null     float64
 9   Baths_Full          92 non-null     int64
 10  Baths_Half          92 non-null     int64
 11  Room_Level          92 non-null     object
 12  Bath                92 non-null     float64
 13  Bedrooms            92 non-null     int64
 14  Utilities_Included  68 non-null     object
 15  Common_Charges      76 non-null     float64
 16  Appearance          72 non-null     object
 17  REO                 92 non-null     object
 18  Unit_on_Floor_#     78 non-null     object
 19  Appearance          72 non-null     object
 20  country             92 non-null     object
 21  full_address        78 non-null     object
 22  latitude            54 non-null     object
 23  longitude           54 non-null     object
 24  Which_Floor         92 non-null     object
dtypes: float64(3), int64(3), object(19)
memory usage: 20.7+ KB

# Lets check the effect of the aprtment level on sale price

In [66]:
# What info is contained in room level? Room_Level

FloorLevel= condo['Room_Level'].unique()
FloorLevel

array(['1', '1,1', '1,1,1,1,1', '1,1,1,1,1,1', '1,Basement',
       '1,1,1,1,1,1,1', '1,1,1,1,1,1,1,1', '1,1,1,1,1,1,1,1,1',
       '1,1,1,1,1,1,Other', '1,1,1,1,1,1,Basement,Other,Other,Other',
       '1,1,1', 'Basement,1,1,1,1,1,1', '1,1,1,1,1,Basement',
       '1,1,1,1,1,1,1,1,1,1', 'Basement,1,1,1,1,1,1,1', '1,1,1,1'],
      dtype=object)

In [67]:
condo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             92 non-null     object
 1   Town                78 non-null     object
 2   Zip                 91 non-null     object
 3   State               92 non-null     object
 4   Style               92 non-null     object
 5   Street_Name         89 non-null     object
 6   Development         92 non-null     object
 7   ML#                 92 non-null     object
 8   Sold_Price          36 non-null     float64
 9   Baths_Full          92 non-null     int64
 10  Baths_Half          92 non-null     int64
 11  Room_Level          92 non-null     object
 12  Bath                92 non-null     float64
 13  Bedrooms            92 non-null     int64
 14  Utilities_Included  68 non-null     object
 15  Common_Charges      76 non-null     float64
 16  Appearance          72 non-null     object
 17  REO                 92 non-null     object
 18  Unit_on_Floor_#     78 non-null     object
 19  Appearance          72 non-null     object
 20  country             92 non-null     object
 21  full_address        78 non-null     object
 22  latitude            54 non-null     object
 23  longitude           54 non-null     object
 24  Which_Floor         92 non-null     object
dtypes: float64(3), int64(3), object(19)
memory usage: 20.7+ KB

In [68]:
# # Appearance


# Appearance_unique = condo['Appearance'].unique()

# print(Appearance_unique)

In [69]:
data = condo

In [85]:
#import pandas as pd

def map_existing_values(value):
    if pd.isna(value):  # Handle NaN values explicitly
        return -1
    if value == "Appearance":
        return 0
    elif value in ["AS IS"]:
        return 1
    elif value in ["Fair", "good", "Good", "Very Good", "Very good"]:
        return 2
    elif value in ["Excellent", "EXCELLENT"]:
        return 3
    elif value == "Move in":
        return 4
    elif value in ["diamond", "Diamond", "Mint", "mint", "Mint+", "Mint++", "Mint+++", "Mint+++"]:
        return 5
    else:
        return -1  # Return -1 for other cases or return None if you prefer


df = pd.DataFrame({'condition': ['Appearance', 'AS IS', 'Good', 'Excellent', 'Move in', 'Mint']})

condition_new = df['condition'].map(map_existing_values)

data = data.assign(condition_new=condition_new)

In [71]:
data.head(3)

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address,latitude,longitude,Which_Floor,condition_new
0,98 Village Circle W,Manorville,11949,NY,Other,Village,Greenwood Village,*1422236,NaN,2,0,1,2.0,2,"Sewer,Water",1351.0,Excellent,N,1,Excellent,USA,"98 Village Circle W, Manorville USA",40.833369,-72.792126,1,0.0
1,17 Limetree Drive,Manorville,11949,NY,Garden Apartment,Limetree,Greenwood Village,3367480,175000.0,2,0,"1,1",2.0,2,NaN,1222.0,Diamond,N,1,Diamond,USA,"17 Limetree Drive, Manorville USA",40.832498,-72.789898,1,1.0
2,14 Limetree Drive,Manorville,11949,NY,Other,Limetree,Greenwood Village,3368117,184550.0,2,0,"1,1,1,1,1",2.0,2,NaN,1269.0,Mint,N,1,Mint,USA,"14 Limetree Drive, Manorville USA",40.832859,-72.790438,1,2.0

In [72]:
data = condo

def map_existing_values(value):
    if pd.isna(value):  # Handle NaN values explicitly
        return -1
    if value == "Appearance":
        return 0
    elif value in ["AS IS"]:
        return 1
    elif value in ["Fair", "good", "Good", "Very Good", "Very good"]:
        return 2
    elif value in ["Excellent", "EXCELLENT"]:
        return 3
    elif value == "Move in":
        return 4
    elif value in ["diamond", "Diamond", "Mint", "mint", "Mint+", "Mint++", "Mint+++", "Mint+++"]:
        return 5
    else:
        return -1  # Return -1 for other cases or return None if you prefer


condition_new = df['condition'].map(map_existing_values)

data = data.assign(condition_new=condition_new)

In [73]:
data.head()

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address,latitude,longitude,Which_Floor,condition_new
0,98 Village Circle W,Manorville,11949,NY,Other,Village,Greenwood Village,*1422236,NaN,2,0,1,2.0,2,"Sewer,Water",1351.0,Excellent,N,1,Excellent,USA,"98 Village Circle W, Manorville USA",40.833369,-72.792126,1,0.0
1,17 Limetree Drive,Manorville,11949,NY,Garden Apartment,Limetree,Greenwood Village,3367480,175000.0,2,0,"1,1",2.0,2,NaN,1222.0,Diamond,N,1,Diamond,USA,"17 Limetree Drive, Manorville USA",40.832498,-72.789898,1,1.0
2,14 Limetree Drive,Manorville,11949,NY,Other,Limetree,Greenwood Village,3368117,184550.0,2,0,"1,1,1,1,1",2.0,2,NaN,1269.0,Mint,N,1,Mint,USA,"14 Limetree Drive, Manorville USA",40.832859,-72.790438,1,2.0
3,189 W Village Circle,NaN,7/18/2022,Circle,NY,825,Greenwood Village,3370282,NaN,1,0,1,1.0,1,"Garbage Removal,Ground Care,Pool Care,Sewer,Water",1325.0,Excellent,N,NaN,Excellent,USA,NaN,34.220389,70.380031,1,3.0
4,15 Willow,Manorville,11949,NY,Other,Willow,Greenwood Village,3377212,115000.0,2,0,1,2.0,2,"Garbage Removal,Ground Care,Pool Care,Sewer,Water",NaN,NaN,Y,1,NaN,USA,"15 Willow, Manorville USA",None,None,1,4.0

In [78]:
data.head(3)

,Address,Town,Zip,State,Style,Street_Name,Development,ML#,Sold_Price,Baths_Full,Baths_Half,Room_Level,Bath,Bedrooms,Utilities_Included,Common_Charges,Appearance,REO,Unit_on_Floor_#,Appearance,country,full_address,latitude,longitude,Which_Floor,condition_new
0,98 Village Circle W,Manorville,11949,NY,Other,Village,Greenwood Village,*1422236,NaN,2,0,1,2.0,2,"Sewer,Water",1351.0,Excellent,N,1,Excellent,USA,"98 Village Circle W, Manorville USA",40.833369,-72.792126,1,0.0
1,17 Limetree Drive,Manorville,11949,NY,Garden Apartment,Limetree,Greenwood Village,3367480,175000.0,2,0,"1,1",2.0,2,NaN,1222.0,Diamond,N,1,Diamond,USA,"17 Limetree Drive, Manorville USA",40.832498,-72.789898,1,1.0
2,14 Limetree Drive,Manorville,11949,NY,Other,Limetree,Greenwood Village,3368117,184550.0,2,0,"1,1,1,1,1",2.0,2,NaN,1269.0,Mint,N,1,Mint,USA,"14 Limetree Drive, Manorville USA",40.832859,-72.790438,1,2.0

In [79]:
condo = data

In [80]:
#condo["Which_Floor"] = condo["Which_Floor"] .astype("category")

In [82]:
condo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             92 non-null     object
 1   Town                78 non-null     object
 2   Zip                 91 non-null     object
 3   State               92 non-null     object
 4   Style               92 non-null     object
 5   Street_Name         89 non-null     object
 6   Development         92 non-null     object
 7   ML#                 92 non-null     object
 8   Sold_Price          36 non-null     float64
 9   Baths_Full          92 non-null     int64
 10  Baths_Half          92 non-null     int64
 11  Room_Level          92 non-null     object
 12  Bath                92 non-null     float64
 13  Bedrooms            92 non-null     int64
 14  Utilities_Included  68 non-null     object
 15  Common_Charges      76 non-null     float64
 16  Appearance          72 non-null     object
 17  REO                 92 non-null     object
 18  Unit_on_Floor_#     78 non-null     object
 19  Appearance          72 non-null     object
 20  country             92 non-null     object
 21  full_address        78 non-null     object
 22  latitude            54 non-null     object
 23  longitude           54 non-null     object
 24  Which_Floor         92 non-null     object
 25  condition_new       6 non-null      float64
dtypes: float64(4), int64(3), object(19)
memory usage: 21.5+ KB

## Correlation

In [83]:
# import pandas as pd

# # Assuming you have a DataFrame named 'condo'
# data = condo.copy()  # Create a copy to avoid modifying the original DataFrame

# # Select columns of interest
# columns_of_interest = ["Sold_Price", "Area", "Bedrooms", "Bathrooms"]

# # Create a new DataFrame containing only the selected columns
# selected_data = data[columns_of_interest]

# # Calculate the correlation matrix
# correlation_matrix = selected_data.corr()

# # Print the correlation matrix
# print(correlation_matrix)

correaltion_data = condo

columns_of_intererst = ["Sold_Price", "Bedrooms", "Bath" ,
                        "Which_Floor", "condition_new"]

# Create a new DataFrame containing only the selected columns
selected_data = correaltion_data[columns_of_intererst]

correlation_matrix = correaltion_data[columns_of_intererst].corr()

<ipython-input-83-2962811f5653>:26: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

In [84]:

correlation_matrix

               Sold_Price  Bedrooms      Bath  condition_new
Sold_Price       1.000000  0.384742  0.578312      -0.895845
Bedrooms         0.384742  1.000000  0.525360      -0.130931
Bath             0.578312  0.525360  1.000000      -0.130931
condition_new   -0.895845 -0.130931 -0.130931       1.000000

# Modelling

## lINEAR rEGRESSION

In [112]:
# # Split the data into features and labels
# features = data[['area', 'bedrooms', 'bathrooms']]
# labels = data['price']

# Split the data into features and labels
features = condo[['Bath', 'Baths_Full', 'Baths_Half','Which_Floor','condition_new']]
labels = condo['Sold_Price']

# Remove the column 'Basement' from the features DataFrame
#features = features.drop('Basement', axis=1)

In [113]:
# Create the linear regression model
model = LinearRegression()

In [114]:
# Train the model
model.fit(features, labels)

ValueError: ignored

In [115]:
correlations = features.corr()

print(correlations)

                   Bath  Baths_Full  Baths_Half  condition_new
Bath           1.000000    0.935795   -0.204060      -0.130931
Baths_Full     0.935795    1.000000   -0.536084      -0.130931
Baths_Half    -0.204060   -0.536084    1.000000            NaN
condition_new -0.130931   -0.130931         NaN       1.000000

<ipython-input-115-0c7c1a99d532>:1: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

In [110]:
condo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             92 non-null     object
 1   Town                78 non-null     object
 2   Zip                 91 non-null     object
 3   State               92 non-null     object
 4   Style               92 non-null     object
 5   Street_Name         89 non-null     object
 6   Development         92 non-null     object
 7   ML#                 92 non-null     object
 8   Sold_Price          36 non-null     float64
 9   Baths_Full          92 non-null     int64
 10  Baths_Half          92 non-null     int64
 11  Room_Level          92 non-null     object
 12  Bath                92 non-null     float64
 13  Bedrooms            92 non-null     int64
 14  Utilities_Included  68 non-null     object
 15  Common_Charges      76 non-null     float64
 16  Appearance          72 non-null     object
 17  REO                 92 non-null     object
 18  Unit_on_Floor_#     78 non-null     object
 19  Appearance          72 non-null     object
 20  country             92 non-null     object
 21  full_address        78 non-null     object
 22  latitude            54 non-null     object
 23  longitude           54 non-null     object
 24  Which_Floor         92 non-null     object
 25  condition_new       6 non-null      float64
dtypes: float64(4), int64(3), object(19)
memory usage: 21.5+ KB

## Random forest